* {
  box-sizing: border-box;
}

body {
  background-color: #678fb8;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #4c4cff;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav img {
  height: 50px;
  margin: 0 auto;
  display: block;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

main {
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

section {
  max-width: 800px;
  margin: 0 auto;
}

.gallery {
  margin-top: 40px;
}

.gallery h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery-wrapper img {
  width: calc(33.33% - 10px);
  margin: 5px;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .gallery-wrapper img {
    width: calc(50% - 10px);
  }
}